/* SCSS Variables */


/**** MAIN COLORS ****/

/** GREY **/
$grey-900: #1D1D1D;
$grey-800: #3E3E3E;
$grey-700: #5C5C5C;
$grey-600: #707070;
$grey-500: #999999;
$grey-400: #B8B8B8;
$grey-300: #DCDCDC;
$grey-200: #EBEBEB;
$grey-100: #F3F3F3;
$grey-50: #FBFBFB;

/** DARK BLUE **/
$dark-blue-900: #1B2530;
$dark-blue-800: #2D3947;
$dark-blue-700: #3B4B5C;
$dark-blue-600: #4B5D72;
$dark-blue-200: #A8B4C2;
$dark-blue-100: #C9D2DC;
$dark-blue-50: #E9EDF4;
$dark-blue-25: #F3F6FA;


/**** FUNCTIONAL COLORS ****/

/** INFO **/
$info-900: #1045A1;
$info-800: #1764C0;
$info-500: #2194F3;
$info-200: #90C9F9;
$info-50: #E3F2FD;

/** SUCCESS **/
$success-900: #1E693E;
$success-800: #298953;
$success-500: #40BD77;
$success-200: #A4DEBB;
$success-50: #E8F7EE;

/** WARNING **/
$warning-900: #FA630C;
$warning-800: #FB8407;
$warning-500: #FDB500;
$warning-200: #FFD97F;
$warning-100: #FFF6E1;
$warning-text: #8F6600;

/** ERROR **/
$error-900: #B71B1C;
$error-700: #D32F2F;
$error-400: #EF5350;
$error-200: #EF9A9A;
$error-50: #FFEBEE;




$main-color: #c00c00;
$secondary-color: lightgreen;